<div class='comments'>
  <h1 class='title'>
    共三条留言
  </h1>
  <div class='comments'>
    <div class='comment-item'>
      <div class='text-content'>
        <div class='avatar'>
          <img src="../img/1.jpg" alt="">
        </div>
        <div class='content'>
          <div class='name'>abc</div>
          <div class='time'>30秒前</div>
          <div class='text'>测试文章内容</div>
        </div>
        <div class='comment-button'>
          <button type="button" class="btn btn-outline-success">私密留言</button>
        </div>
      </div>
      <div class='sub-comments'>
        <div class='sub-comment-item'>
          <div class='avatar'>
            <img src="../img/1.jpg" alt="">
          </div>
          <h2 class='name'>nobody:</h2>
          <p class='text'>OK</p>
        </div>
        <div class='sub-comment-item'>
          <div class='avatar'>
            <img src="../img/1.jpg" alt="">
          </div>
          <h2 class='name'>nobody:</h2>
          <p class='text'>上岛咖啡</p>
        </div>
      </div>
    </div>
    <div class='comment-item'>
      <div class='text-content'>
        <div class='avatar'>
          <img src="../img/1.jpg" alt="">
        </div>
        <div class='content'>
          <div class='name'>abc</div>
          <div class='time'>30秒前</div>
          <div class='text'>测试文章内容</div>
        </div>
        <div class='comment-button'>
          <button type="button" class="btn btn-outline-success">私密留言</button>
        </div>
      </div>
    </div>
  </div>
</div>
