<div class='relative-items'>
  <h1 class='title'>
    相似商品
  </h1>
  <div class='items'>
    <div class='item'>
      <div class='img'>
        <img src="../img/1.jpg" alt="">
      </div>
      <div class='title'>物品1号</div>
      <div class='desc'>
        <p class='price'>
          $10/天
        </p>
        <div class='icons'>
          <div class='icon'>
            <ion-icon name="home"></ion-icon>
            <p>12</p>
          </div>
          <div class='icon'>
            <ion-icon name="home"></ion-icon>
            <p>8</p>
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='img'>
        <img src="../img/1.jpg" alt="">
      </div>
      <div class='title'>物品1号</div>
      <div class='desc'>
        <p class='price'>
          $10/天
        </p>
        <div class='icons'>
          <div class='icon'>
            <ion-icon name="home"></ion-icon>
            <p>12</p>
          </div>
          <div class='icon'>
            <ion-icon name="home"></ion-icon>
            <p>8</p>
          </div>
        </div>
      </div>
    </div>
    <div class='item'>
      <div class='img'>
        <img src="../img/1.jpg" alt="">
      </div>
      <div class='title'>物品1号</div>
      <div class='desc'>
        <p class='price'>
          $10/天
        </p>
        <div class='icons'>
          <div class='icon'>
            <ion-icon name="home"></ion-icon>
            <p>12</p>
          </div>
          <div class='icon'>
            <ion-icon name="home"></ion-icon>
            <p>8</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
