<div class='scroll-image'>
  <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="../img/1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../img/1.jpg" alt=""></div>
        <div class="swiper-slide"><img src="../img/1.jpg" alt=""></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<div class='title-bar'>
  <div class='price'>
    <p>$33</p>
  </div>
  <div class='content'>
    <h1>发布商品</h1>
    <p>原价: $40</p>
  </div>
  <div class='stage'>
    <p>全新</p>
  </div>
</div>
