<div class='tab-bar'>
  <div class='icons'>
    <div class='icon-item'>
      <ion-icon name="home"></ion-icon>
      <p>主页</p>
    </div>
    <div class='icon-item'>
      <ion-icon name="star-outline"></ion-icon>
      <p>收藏</p>
    </div>
    <div class='icon-item'>
      <ion-icon name="share"></ion-icon>
      <p>分享</p>
    </div>
  </div>
  <div class='buttons'>
    <button type="button" class="btn btn-outline-success">聊一聊</button>
    <button type="button" class="btn btn-outline-success">立刻买</button>
  </div>
</div>
